@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {

    --background-color: #f3f3f3;
    --border-color: rgb(44, 44, 44);


    --color1a: #344E41;
    --color1b: #3A5A40;
    --color1c: #588157;
    --color1d: #A3B18A;
    --color1e: #DAD7CD;

    /* colors 2 */
    --color2a: #081C15;
    --color2b: #1B4332;
    --color2c: #2D6A4F;
    --color2d: #40916C;
    --color2e: #52B788;
    --color2f: #74C69D;
    --color2g: #95D5B2;
    --color2h: #B7E4C7;
    --color2i: #D8F3DC;

    /* colors 3 */
    --color3a: #FB8500;
    --color3b: #FFB703;
    --color3c: #023047;
    --color3d: #219EBC;
    --color3e: #8ECAE6;

    /* colors 4 */
    --color4a: #F28482;
    --color4b: #84A59D;
    --color4c: #F5CAC3;
    --color4d: #F7EDE2;
    --color4e: #F6BD60;

    /* colors 5 */
    --color5a: #E76F51;
    --color5b: #F4A261;
    --color5c: #E9C46A;
    --color5d: #2A9D8F;


    --button-color: #ccb28d;


    /* FONTS */
    --text-font-size: 12px;
    --heading-font-size: 20px;
    --font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    --font-weight: 600;
    --letter-spacing: .5px;

    --icon-font-size: 1.5rem;

    --font-color: #000001;


}

body {
    font: var(--font-family);

}

/* navigation */
.top-nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(44, 44, 44);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-inline: 5rem;
    background-color: var(--background-color);
}

.top-nav-inner3 {
    display: flex;
    gap: 15px;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    align-items: center;
}


.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(44, 44, 44);
    padding: 0 3rem;
    background: var(--background-color);
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;

}

.form-control:focus,
.form-control:active {
    border: none;
    outline: none;
    /* Optionally remove the outline as well */
}


.logo {
    mix-blend-mode: multiply;
}

.logobar {
    width: 12rem;
}

.searchbar {
    width: 50%;
    border-radius: 0%;
}

.form-control {
    border-radius: 0%;
}

.icons-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bi-list,
.bi-cart3 {
    font-size: var(--icon-font-size);
}





select:focus,
select:active {
    border: none;
    outline: none;
    /* Optionally remove the outline as well */
}





/* navigation end*/

main {
    padding-top: 11.5rem;
}


/* section1 */
.section1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--background-color);

}

.section1-inner2 {
    display: block;
}

.section1-inner2-element {
    position: relative;
    border: 1px solid black;

}

.section1-btn {
    top: 0;
}

.section1-btn {
    position: absolute;
    top: 70%;
    left: 15%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px solid var(--color3a);
    padding: 6px 4px;
}

.section1-inner2-element img {
    width: 100%;
}



.carousel-img {
    height: 24.25rem;
}

.section1-inner2-element img {
    height: 180px;
    object-fit: contain;

}

.feature-inner-element {
    display: flex;
}




/* section1 end */


/* featureslist */
.features {
    display: flex;
    align-items: center;
    justify-content: center;


    border: 1px solid var(--border-color);

    margin: 3rem 3rem 0;
}

.feature-elements {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    border: 1px solid var(--border-color);
    background-color: #000000;
    color: whitesmoke;
}

.feature-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--border-color);
    padding: 2rem;
}

.feature-inner:last-child {

    border-right: 0;

}

.feature-inner-element {
    display: flex;
    align-items: center;

    gap: 2rem;
}



/* featureslist end */


/* section2 */

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;

}

.search-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}



.search-content1 {
    border: 1px solid black;
    padding: 10px;
}

.search-btn {
    border: 1px solid var(--color3a);
    padding: 10px 20px;
}



/* section2 end */

/* SECTION3 */

.section3-inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    gap: 1rem;
}




.vertical-scroll::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

.vertical-scroll::-webkit-scrollbar-track {
    background: hsl(0, 0%, 88%);
    margin-block: 0;
}

.vertical-scroll::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 50%);
    border: 0.25em solid hsl(0, 0%, 50%);
}

.category-header {
    background-color: #f3f3f3;

}


.category-heading {
    font-size: var(--heading-font-size);
    border-bottom: 1px solid black;
    margin-bottom: 4px;
    font-weight: bolder;
    padding: 6px 0;
}

#category-section {
    background-color: #f3f3f3;
    height: 43rem;
    border-radius: 2px;
}

#category-nav .nav-item {
    border-bottom: 1px solid rgb(174, 174, 174);
}



.categories-link {
    color: black;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: white;
    background-color: var(--color3a);
    border-radius: 0;
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #000000;
}

.showmore {
    border: 1px solid var(--color3a);
    padding: 4px 7px;
    margin: auto;
}



.pagination-button {
    margin: auto;
    padding: 4px 8px;
    border: 1px solid var(--color3a);
    margin-top: 2rem;
}

.pagination-button:hover {
    background: var(--button-color);
    border: 1px solid var(--color3a);
}

.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(44, 44, 44);
    padding: 0 7rem;

    background-color: var(--background-color);
}

.bottom-nav-inner1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.2rem;

}

.select-category {
    padding-inline: 2rem;
}




.product .product-title,
.product .product-price {
    font-size: 18px;
}



.product-card:hover {
    scale: 1.005;
    border: 1px solid var(--border-color);
}

.star {
    border-color: blue;

}

.product-card .name {
    cursor: pointer;
    font-weight: bold;
}

.product-card img {
    height: 150px;
    width: 100%;
    transition: all 0.3s;
}

.product-btn {
    border: 1px solid var(--button-color);
    padding: .2rem 2rem;
    margin-top: .4rem;
    background-color: var(--button-color);
}

.product-card .product-btn:hover {
    transform: scale(1.01);
    background-color: #2b90d9;

}

/* SECTION3 END */


/* tabsblock */
@media (min-width: 576px) {
    .rounded-nav {
        border-radius: 50rem !important;
    }
}

@media (min-width: 576px) {
    .rounded-nav .nav-link {
        border-radius: 50rem !important;
    }
}

/* With arrow tabs */

.with-arrow .nav-link.active {
    position: relative;
}

.with-arrow .nav-link.active::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2b90d9;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

/* lined tabs */

.lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #2b90d9;
}


/* Adjust the selector to match your tab content container */
.tab-container .tab-content {
    transition: transform 0.5s ease;
}

.tab-container .tab-pane {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: opacity 0.5s ease, visibility 0s ease, transform 0.5s ease;
}

.tab-container .tab-pane.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/* tabsblock */

/* brands section */
.brands-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color3e);
}

.brand-element img {
    width: 70%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

/* brands section end */


/* SECTION8 */
.section8 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.form-input {
    border: 1px solid var(--color3a);
    padding: 0.5rem 7rem;
    color: black;
}

.btn-submit {
    border: 1px solid var(--color3a);
    padding: 0.5rem 3rem;
    background: var(--color3a);
    color: white;
}


/* SECTION8 END */

/* SECTION9 */


.section9 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}



.section9-element-inner1 {
    padding: 1rem 0;
    font-size: var(--text-font-size);
    line-height: 1.5;
}

.contact-list {
    padding: 1rem 0;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.contact-icon {
    font-size: var(--icon-font-size);
}

/* SECTION9 END */

/* reviews */
.reviews-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    margin: 3rem 0;
}

/* reviews end */

/* checkoutpage */
.cart-element {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1rem 0;
}

.cart-container1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid white;

}

.cart-container1-elements {
    font-weight: bolder;
    margin-bottom: 20px;
}

.cart-elements,
.cart-container1-elements {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-elements1 {

    grid-column: 1 / 3;

}

button:focus,
input:focus {
    outline: none;
    box-shadow: none;
}

.qty-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty-container .input-qty {
    text-align: center;
    padding: 6px 10px;
    border: 1px solid white;
    max-width: 80px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 1px solid white;
    padding: 10px 13px;
    font-size: 15px;
    height: 38px;
    width: 38px;
    transition: 0.3s;
}

.qty-container .qty-btn-plus {
    margin-left: -1px;
}

.qty-container .qty-btn-minus {
    margin-right: -1px;
}


/*  checkoutpage end */
/* single page */
.singles-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;

    margin-top: 3rem;
}

/* single page end */

@media (max-width: 767px) {
    body {
        margin: 1rem;
    }

    main {
        padding-top: 8rem;
    }

    .top-nav-inner.container-fluid {
        display: none;
    }

    .searchbar,
    .searchbar1 {
        display: none;
    }

    .blog-header {
        display: flex;

    }

    .logobar {
        height: auto;
        width: 10rem;
    }

    .bi-list,
    .bi-cart3 {
        font-size: var(--icon-font-size);
    }

    .section1 {
        display: block;

    }

    .section1-element {
        padding-bottom: 20px;
        width: 100%;
        margin: auto;
    }

    .section1-inner1 {
        display: block;

    }



    .section1-inner2 {
        display: block;

    }

    .section1-inner2-element {
        padding-bottom: 20px;
    }

    .dropdown-btn {
        right: 0;

    }


    .search-wrapper {
        display: block;
        margin: auto;
    }

    .select-category {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-content1 {
        border: 1px solid black;
        padding: 10px;
    }

    .feature-elements {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-inner {

        justify-content: center;
        border-right: none;
        padding: 1rem;
    }

    /* checkout */


    .cart-elements,
    .cart-elements {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .qty-container .input-qty {
        text-align: center;
        padding: 1px;
        border: 1px solid #d4d4d4;
        max-width: 40px;
    }

    .qty-container .qty-btn-minus,
    .qty-container .qty-btn-plus {
        border: 1px solid #d4d4d4;
        padding: 0;
        font-size: 15px;
        height: 28px;
        width: 28px;
        transition: 0.3s;
    }

    .section2 {
        display: flex;
    }

    .form-input {
        width: 1rem;
    }

    .col-search {
        display: flex;
    }



    /* checkoutpage end */
}

@media (min-width: 576px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 0%;
    }


}