@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
    --color1a: #344E41;
    --color1b: #3A5A40;
    --color1c: #588157;
    --color1d: #A3B18A;
    --color1e: #DAD7CD;

    /* colors 2 */
    --color2a: #081C15;
    --color2b: #1B4332;
    --color2c: #2D6A4F;
    --color2d: #40916C;
    --color2e: #52B788;
    --color2f: #74C69D;
    --color2g: #95D5B2;
    --color2h: #B7E4C7;
    --color2i: #D8F3DC;

    /* colors 3 */
    --color3a: #FB8500;
    --color3b: #FFB703;
    --color3c: #023047;
    --color3d: #219EBC;
    --color3e: #8ECAE6;

    /* colors 4 */
    --color4a: #F28482;
    --color4b: #84A59D;
    --color4c: #F5CAC3;
    --color4d: #F7EDE2;
    --color4e: #F6BD60;

    /* colors 5 */
    --color5a: #E76F51;
    --color5b: #F4A261;
    --color5c: #E9C46A;
    --color5d: #2A9D8F;
    --color5e: #264653;


    /* FONTS */
    --text-font-size: 12px;
    --heading-font-size: 20px;
    --font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    --font-weight: 600;
    --letter-spacing: .5px;

    --icon-font-size: 1.5rem;


}

body {
    font: var(--font-family);

}

/* navigation */
.top-nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-inline: 5rem;
    background-color: rgb(255, 255, 255, 1);
}

.top-nav-inner3 {
    display: flex;
    gap: 15px;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    align-items: center;
}


.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 1);
    border-bottom: 1px solid grey;
    padding: 0 3rem;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
}

.logobar {
    width: 12rem;
}

.searchbar {
    width: 50%;
    border-radius: 0%;
}

.form-control {
    border-radius: 0%;
}

.icons-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bi-list,
.bi-cart3 {
    font-size: var(--icon-font-size);
}

.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    background-color: rgb(255, 255, 255, 1);
    padding: 0 7rem;


}

.bottom-nav-inner1 {
    display: flex;
    justify-content: center;
}



select:focus,
select:active {
    border: none;
    outline: none;
    /* Optionally remove the outline as well */
}


.vertical-line {
    border-left: 1px solid #000;
    height: 50px;
    display: inline-block;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    gap: 4rem;
    border: 0;
    border-radius: 0%;
}

.bottom-nav-inner2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    gap: 4rem;

}

.bottom-inner-text {
    text-decoration: none;
}



/* navigation end*/

main {
    padding-top: 15rem;
}


/* section1 */
.section1 {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.section1-inner2 {
    display: block;
}

.section1-inner2-element {
    position: relative;
    border: 1px solid black;

}

.section1-btn {
    top: 0;
}

.section1-btn {
    position: absolute;
    top: 70%;
    left: 15%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px solid rgb(239, 1, 1);
    padding: 6px 4px;
}

.section1-inner2-element img {
    width: 100%;
}



.carousel-img {
    height: 24rem;
}

.section1-inner2-element img {
    height: 180px;
    object-fit: contain;
}




/* section1 end */



/* section2 */

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;

}

.search-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}



.search-content1 {
    border: 1px solid black;
    padding: 10px;
}

.search-btn {
    border: 1px solid red;
    padding: 10px 20px;
}

/* section2 end */

/* SECTION3 */

.category-header {
    font-size: var(--heading-font-size);
    border-bottom: 1px solid black;
    margin-bottom: 4px;
    padding: 10px;
    font-weight: bolder;
}

#category-section {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 33rem;
}

.nav-item {
    padding: 2px;
    color: black;
}

.categories-link {
    color: black;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: white;
    background-color: red;
    border-radius: 0;
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #000000;
}

.showmore {
    border: 1px solid red;
    padding: 4px 7px;
    margin: auto;
}



.pagination-button {
    margin: auto;
    padding: 4px 8px;
    border: 1px solid red;
    margin-top: 2rem;
}

.pagination-button:hover {
    background: yellow;
    border: 1px solid rgb(17, 254, 0);
}



/* SECTION3 END */


/* SECTION7 */
.section7 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

/* SECTION7 END */


/* SECTION8 */
.section8 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.form-input {
    border: 1px solid red;
    padding: 0.5rem 7rem;
    color: black;
}

.btn-submit {
    border: 1px solid red;
    padding: 0.5rem 3rem;
    background: red;
    color: white;
}


/* SECTION8 END */

/* SECTION9 */


.section9 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}



.section9-element-inner1 {
    padding: 1rem 0;
    font-size: var(--text-font-size);
    line-height: 1.5;
}

.contact-list {
    padding: 1rem 0;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.contact-icon {
    font-size: var(--icon-font-size);
}

/* SECTION9 END */


/* checkoutpage */
.cart-element {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1rem 0;


}

.cart-elements {
    display: flex;
    align-items: center;
    margin: auto;
}

/*  checkoutpage end */



@media (max-width: 767px) {
    body {
        background-color: rgb(255, 255, 255);
        margin: 1rem;
    }

    main {
        padding-top: 9rem;
    }

    .top-nav-inner.container-fluid {
        display: none;
    }

    .searchbar,
    .searchbar1 {
        display: none;
    }

    .blog-header {
        display: flex;

    }

    .logobar {
        height: auto;
        width: 10rem;
    }

    .bi-list,
    .bi-cart3 {
        font-size: var(--icon-font-size);
    }

    .section1 {
        display: block;

    }

    .section1-element {
        padding-bottom: 20px;
        width: 100%;
        margin: auto;
    }

    .section1-inner1 {
        display: block;

    }



    .section1-inner2 {
        display: block;

    }

    .section1-inner2-element {
        padding-bottom: 20px;
    }

    .dropdown-btn {
        right: 0;

    }

    .bottom-nav {
        display: block;
        padding-inline: 20px;
        border-right: 1px solid black;
    }

    span.vertical-line {
        display: none;
    }

    .bottom-nav-inner2 {
        display: none;
    }

    .bottom-nav-inner1 {
        left: 0;
        gap: 10px;
        border-right: 1px solid black;
    }

    .search-wrapper {
        display: block;
        margin: auto;
    }

    .select-category {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-content1 {
        border: 1px solid black;
        padding: 10px;
    }
}

@media (min-width: 576px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 0%;
    }


}